---
	const siteInfo = {
		siteName: 'Howdy | I\'m Leon.D',
		siteDesc: 'Leon.D前端技术分享, 记录Howdz起始页、Howdyjs组件库等开源项目开发经验, 主要技术栈有Vue, Vite, Typescript, Nodejs, PHP, Mysql, Nginx等',
		siteKeyword: 'Howdyjs,Howdz,前端技术,Vue组件,Vue指令,Koa,Eggjs,全栈,Nginx,Leon.D,浏览器起始页'
	}

	let { title } = Astro.props;
	let { desc } = Astro.props;
	let { img } = Astro.props;
	let { twitterUsername } = Astro.props;

	if (!title) {
		title = siteInfo.siteName
	}
	if (!desc) {
		desc = siteInfo.siteDesc
	}
	if (!img) {
		img = Astro.site + 'card.png'
	}
---

<head>

	<!-- essential -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<!-- core -->
	{title && <title>{title}</title>}
	{desc &&
	<meta name="description" content={desc}>}
	<meta name="keywords" content={siteInfo.siteKeyword} />
	<!-- twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	{title &&
	<meta name="twitter:title" content={title} />}
	{desc &&
	<meta name="twitter:description" content={desc} />}
	<meta name="twitter:image" content={img} />
	{title &&
	<meta name="twitter:image:alt" content={title} />}
	{twitterUsername &&
	<meta name="twitter:site" content={twitterUsername} />}
	{twitterUsername &&
	<meta name="twitter:creator" content={twitterUsername} />}
	<!-- og -->
	{title &&
	<meta property="og:title" content={title} />}
	{desc &&
	<meta property="og:description" content={desc} />}
	<meta property="og:image" content={img} />
	{title &&
	<meta property="og:image:alt" content={title} />}
	{title &&
	<meta property="og:site_name" content={title} />}
	<meta property="og:type" content="object" />
	<meta property="og:url" content={Astro.site} />
	<slot />
</head>
